<h1>Agregar Libros</h1>

<% semantic_form_for @book do |f| %>  
    <%=f.inputs do%>
    <%=f.input :tite%>
    <%=f.input :author%>
    <%=f.input :description%>
    <%=f.input :cover%>
   <%=f.buttons%>
<% end %>  













